<div class="col-lg-4">
    <div class="mn-list">
        <h2>Categories</h2>
        <ul>
            <li><a href="">Political News <span>2</span></a></li>
            <li><a href="">Sports News <span>2</span></a></li>
            <li><a href="">Business News <span>2</span></a></li>
            <li><a href="">Entertainment News <span>2</span></a></li>
            
        </ul>
    </div>
</div>