@model IEnumerable<DataLayer.Page>

<div class="col-md-6 tn-left">
    <div class="row tn-slider">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="tn-img">
                    <img src="/PageImages/@item.ImageName">
                    <div class="tn-title">
                        <a href="/News/@item.PageID">@item.Title </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>